<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>
         <%= title %>
      </title>
      <!-- cdn for icons -->
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
         crossorigin="anonymous">
      <!-- linking css stylesheet -->
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <!-- bootstrap cdn -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
         crossorigin="anonymous">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script> 
      <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script> 
      <!-- link for google fonts -->
      <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
      <!-- summernote -->
      <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
      <!-- bootsrap studio -->
      <link rel="stylesheet" href="bootstrap.min.css"/>
      <link rel="stylesheet" href="Footer-Clean.css"/>
   </head>
   <body>
      <header>
         <div class="headerimg">
            <div class="navbar">
               <a href="/">Home</a>
               <a href="/archive">Archive</a>
               <a href="/post">Post</a>
               <a href="/contact">Contact</a>
               <a data-toggle="dropdown" class="btn btn-info dropdown-toggle get-started-btn mt-1 mb-1" href="/loginin">Login</a>
               <a href="/signin" data-toggle="dropdown" class="btn btn-info dropdown-toggle get-started-btn mt-1 mb-1">Sign Up</a>
            </div>
            <div class="heading">
               <h1>Budget Travellers</h1>
               <h3> Sign Up</h3>
            </div>
         </div>
      </header>
      </nav>
      <div class="container">
         <div class="register-photo">
            <div class="form-container">
               <div class="form-container">
                  <div class="image-holder"></div>
                  <form method="post">
                     <h2 class="text-center">Create an account</h2>
                     <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="email">
                     </div>
                     <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="password">
                     </div>
                     <div class="form-group">
                        <input class="form-control" type="repeat-password" name="repeat-password" placeholder="repeat-password">
                     </div>
                     <div class="form-group">
                        <div class="checkbox"></div>
                     </div>
                     <div class="form-group">
                        <a class="already" href="loginin">You already have an account? Login here.</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <footer>
         <h3>Created & Designed by Claire Jacobs</h3>
      </footer>
   </body>
</html>